body {
  font-family: sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  background-color: #9698ff;
  padding: 5px;
  text-align: center;
  border: 2px solid #2f00ff;
  color: #002950;
  font-size: 40px;
}

.mainsubtitle {
  text-align: center;
}

h2 {
  padding: 5px;
  background-color: #ccc;
  font-size: 36px;
  border-bottom: 4px solid #002950;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #002950;
  margin-bottom: 0;
}

.standard-p {
  font-size: 15px;
}

h3 {
  color: #333;
}

h3 a {
  text-decoration: none;
  color: #006ed4;
}

.special-p {
  color: #333;
  font-weight: bold;
  font-size: 15px;
}

ul li {
  margin: 0 -24px;
  padding: 0px;
}

footer {
  background-color: #9698ff;
  border: 2px solid #2f00ff;
  height: 100px;
}

footer p {
  text-align: center;
  font-weight: bold;
  padding: 7px;
  margin: 0;
}